
{% include "css.html" %}
{% include "javascript.html" %}

<body style = "background-color: pink">
<style>
  p style="font-size:100px"
</style>

{% if request.user.is_authenticated %}
Welcome {{ request.user }}

<a href="{% url 'logout' %}?next=/home/">Logout</a>


{% else %}
<form class = 'navbar-form navbar-center' method = 'POST' action = '{% url "login" %}'>{% csrf_token %}
            <div class= 'form-group'>
              <input type= 'text' class = 'form-control' name = 'username' placeholder = 'Username' />
            </div>
            <div class = 'form-group'>
              <input type= 'password' class = 'form-control' name = 'password' placeholder = 'Password' />
            </div>

            <button type= 'submit' class= 'btn btn-default'><i class="fa fa-user"></i> Login</button>
</form>
{% endif %}

<form method = 'POST' action=''>{% csrf_token %}
     {{ formvar.as_p }}
<input type='submit' name='button1' value='save'/>
</form>   














<h1> hello world </h1>
<h1> {{ variable1 }} </h1>
<h1> {{ variable2 }} 
    {{ WOWTHISISAVARIABLE }}
    </h1>