<body style="background-color:pink;">
<a href= "http://google.com"> Hello </a>

<h1> Hello </h1> 
<h2> Can you hear me </h2>
<h3> I was wondering if after all these years you'd like to meet </h3>
<h4> To go over everything </h4>
<h5> They say that time's supposed to heal ya </h5>
<h6> But I ain't done much healing </h6> 

<p> Hello, can you hear me </p>

<!--EXPLAIN THAT THIS DOESNT WORK-->
<!--THE BOTTOM PARAGRAPH WILL CRASH-->



<!--
<p1> I'm in California dreaming about who we used to be </p1>
<p2> When we were younger and free </p2> 
<p3> I've forgotten how it felt before the world fell at our feet </p3>

<p4> There's such a difference between us </p4>
<p5> And a million miles </p5>-->





<!--above stuff will NOT work -->



<h7> Hello from the other side </h7>
<h8> I must have called a thousand times </h8>
<h9> But when I call you never seem to be home </h9>
<h1> Hello from the </h1>
<ul>
  <li>inside</li>
  <li>outside</li>
  <li>otherside</li>
</ul>