{% load staticfiles %}
{% include "css.html" %}
{% include "js.html" %}

<body style = "background-color: pink">
<style>
  p style="font-size:100px"


</style>
<p> EH </p>
<font size="7"> EH? </font> 
<h1> {{ thisisavar }} </h1>
<form method='POST' action=''> 
    <input class="btn btn-danger btn-lg img-fade" type='submit' value='wow'>
</form>

<form class = 'navbar-form navbar-center' method = 'POST' action = '{% url "my_login" %}'>{% csrf_token %}
            <div class= 'form-group'>
              <input type= 'text' class = 'form-control' name = 'username' placeholder = 'Username' />
            </div>
            <div class = 'form-group'>
              <input type= 'password' class = 'form-control' name = 'password' placeholder = 'Password' />
            </div>

            <button type= 'submit' class= 'btn btn-default'><i class="fa fa-user"></i> Login</button>
</form>
